html,
body {
  background: #050c21 linear-gradient(45deg, #222220, #050c21);
  background-attachment: fixed;
  color: #fff;
  font: normal 1em Arial;
  height: 100%;
  margin: 0;
  width: 100%;
}

#error {
  background: red;
  border-radius: 0 0 10px 10px;
  font-size: 16px;
  font-weight: bold;
  margin: 0 10px 10px;
  padding: 5px 10px;
  position: fixed;
  text-align: center;
  top: -100%;
  transition: top 1.5s;
  width: calc(100% - 40px);
}

#error.show {
  top: 0;
}

.buttons {
  text-align: center;
}

.btns-containers,
.preview-containers {
  padding: 20px;
}

.btns-containers {
  display: inline-block;
}

.btns-containers label {
  cursor: pointer;
  margin-right: 10px;
}

.btns-containers input {
  background: rgba(255, 255, 255, .0001);
  border: solid #fff 1px;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  padding: 10px;
  transition: background .3s;
}

.btns-containers input:not([disabled]):hover {
  background: rgba(255, 255, 255, .3);
}

.btns-containers input[disabled] {
  border-color: #777;
  color: #777;
  cursor: no-drop;
}

.preview-containers {
  text-align: center;
  width: calc(100% - 40px);
}

.preview-containers #preview-json,
.preview-containers object {
  background: #fff;
}

.preview-containers label {
  cursor: pointer;
  display: block;
  margin-bottom: 10px;
}

.preview-containers .arrow {
  border: solid 1px #fff;
  border-color: transparent #fff #fff transparent;
  display: inline-block;
  height: 10px;
  width: 10px;
}

.preview-containers .arrow.up {
  margin: -4px 10px;
  transform: rotate(-135deg);
}

.preview-containers .arrow.down {
  margin: 4px 10px;
  transform: rotate(45deg);
}

.preview-x {
  display: block;
  overflow: hidden;
}

.preview-x.hide {
  height: 1px;
}

.preview-x.hide object {
  width: 100%;
}

#preview-json {
  color: #333;
  font-family: monospace;
  text-align: initial;
  white-space: pre-wrap;
}

#preview-json code {
  border: solid 5px #fff;
  display: block;
}

.preview-containers object {
  background: #fff url('https://us.123rf.com/450wm/spideyspike/spideyspike1912/spideyspike191200110/135457130-square-dimension-isolated-transparent-background.jpg?ver=6');
  border: solid 5px #fff;
}

.preview-containers object[data="about:blank"] {
  display: none;
}
